@model IEnumerable<QA_Application.Models.Idea>

@{
    ViewData["Title"] = "Index";
}


<div class="text">Dashboard</div>

<div class="auth-form__controls mr-8 right">
    <a asp-action="Create" id="login-submit" class="btn btn--primary">Create New</a>
</div>

<section class="cards-wrapper">
    @foreach (var item in Model)
    {
    <div class="card">
        <div class="basic-card basic-card-aqua">
            <div class="card-content">
                <span class="card-title">@Html.DisplayFor(modelItem => item.Category.CategoryName)</span>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
            </div>

            <div class="card-link">
                <a asp-action="Details" asp-route-id="@item.Id" title="Read Full"><span>Read Full</span></a>
            </div>
        </div>
            
    </div>   
    }
</section>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
    $(function () {
    var created = '@TempData["Created"]'
        if (created != '') {
            alertify.success(created);
        }
    });

    $(function () {
    var edited = '@TempData["Edited"]'
        if (edited != '') {
            alertify.success(edited);
        }
    });

    $(function () {
    var deleted = '@TempData["Deleted"]'
        if (deleted != '') {
            alertify.success(deleted);
        }
    });

    </script>
}