@model QA_Application.Models.Idea

@{
    ViewData["Title"] = "Details";
    var firstDeadline = Model.Category.FirstDeadline;
    var finalDeadline = Model.Category.FinalDeadline;
    var now = DateTime.Now;
}


<div class="text">Detail Idea</div>



<div class="post-wrapper">
        <div class="post">

            <div class="post__header header">
                <div class="header__left">
                    <a href="" class="">                        
                    </a>
                    <div class="post__auth author">
                        <span class="author__name">
                            @Html.DisplayFor(model => model.Title)
                        </span>
                        <i class="author__verified"></i>
                    </div>
                    <span class="post__date">
                        @ViewBag.time
                        <i class='bx bx-time'></i>
                    </span>
                    <span class="post__date-privacy-saparator">&nbsp;.</span>
                    <i class="post__privacy"></i>
                </div>

                <div class="header__right">
                    <div class="post__options options">
                        <i class="options__icon"></i>
                    </div>
                </div>
            </div>

            <div class="post__content content">
                <span class="content__paragraph">
                   @Html.Raw(Model.Content)
                </span>

                <br />
                @if(Model.FileSubmit == "nothing.pdf"){

                }
                else {
                    <span>Model.FileSubmit</span>
                    <a asp-action="PDFViewer" target="_blank">New tab</a>
                }
            </div>

            <div class="post__footer footer">
                 <!-- Reactions -->
                <div class="footer__reactions reactions">
                    <div class="reactions__emojis emojis">
                        <span class="emojis__count">
                            <a href="">193k</a>
                        </span>
                    </div>

                    <div class="reactions__comments-shares">
                        <span class="comments-shares__comments">
                            <a href="">@ViewBag.comments comments</a>
                        </span>

                    </div>
                </div>
                @if(firstDeadline > now)
                {
                <!-- Buttons -->
                <div class="footer__buttons buttons">
                    <a class="buttons__like like">
                        <i class='bx bx-like'></i>
                    </a>
                    <a class="buttons__comment commnet">
                        <i class='bx bx-dislike' ></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="buttons__share share">Edit
                        <i class="share__icon"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@Model?.Id" class="buttons__share share">Delete
                        <i class="share__icon"></i>
                    </a>
                    <a asp-action="Index" class="buttons__share share">Back
                        <i class="share__icon"></i>
                    </a>
                </div>                
                }
                @if(finalDeadline > now)
                {

                    await Html.RenderPartialAsync("_CommentPartial.cshtml", new CommentViewModel { IdeaId = Model.Id, CommentId = 0 });

                    foreach(var c in Model.Comments)
                    {
                        if(c != null)
                        {
                            <!-- Friend comments -->
                            <div class="commets__friend-comment friend-comment">
                                <img src="https://banner2.cleanpng.com/20180411/wow/kisspng-smiley-emoticon-anonymous-zazzle-avatar-avatar-5acde37c8a8d22.0531790415234425565675.jpg" class="friend-comment__avatar"></img>
                                <div class="friend-comment__comment comment">
                                    <a href="" class="comment__auth">
                                        @c.Author.UserName
                                    </a>
                                    <span class="comment__content">
                                        Reply: @c.Message
                                    </span>
                                    </div>
                            </div>
                        }
                    }
                }
                </div>

        </div>
</div>
