@using System.Security.Claims
@model QA_Application.Models.Idea

@{
    ViewData["Title"] = "Details";
    var firstDeadline = Model.Category.FirstDeadline;
    var finalDeadline = Model.Category.FinalDeadline;
    var now = DateTime.Now;
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<div class="modal fade" id="deleteModelInPost" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Are you sure to delete this? <b>@Model.Title</b></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Delete" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form class="form-inline" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">User-@userId posted</h6>
                    <br />
                    <h6 class="m-0 font-weight-italic">asked @ViewBag.time</h6>
            
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Options:</div>
                        <a asp-action="Edit" class="dropdown-item">Edit post</a>
                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#deleteModelInPost">Delete</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="GetPost" class="dropdown-item">Back to Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(model => model.Title)</div>
                @Html.Raw(Model.Content)

                @if(Model.Category.ParentCategory != null)
                    {
                         <a href="#" class="badge badge-primary">@Html.DisplayFor(modelItem => modelItem.Category.ParentCategory.CategoryName)</a>
                    }
                <a asp-route-id="CategoryId" asp-action="Details" asp-controller="Categories"
                    class="badge badge-secondary">@Html.DisplayFor(modelItem => modelItem.Category.CategoryName)</a>
                    
                <a href="#" class="badge badge-success">@Html.DisplayFor(modelItem => modelItem.SpecialTag.SpecialTagName)</a>

                <hr>

                <div class ="form-inline">
                    @if(ViewBag.count > 0){
                        <div class="h5 mb-0 font-weight-bold text-gray-800 offset-md-2">
                            <i class="fas fa-thumbs-o-up"></i>
                            @ViewBag.count
                        </div>
                    }
                    else{
                        <div class="h5 mb-0 font-weight-bold offset-md-2 text-gray-800">
                            <i class="fas fa-thumbs-o-down"></i>
                            @ViewBag.count
                        </div>
                    }

                    @{
                        await Html.RenderPartialAsync("_ThumbPartial", new ThumbViewModel { IdeaId = Model.Id, ThumbId = 0 , AuthorId = userId});
                    }
                </div>
            </div>
        </div>
    </div>

@{
    await Html.RenderPartialAsync("_CommentPartial", new CommentViewModel { IdeaId = Model.Id, CommentId = 0 });
}

@foreach(var c in Model.Comments)
{
    if(c != null)
    {
        <div class="col-lg-6">

        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
                answer by @userId
            </div>
            <div class="card-body">
                Reply: @c.Message
            </div>
        </div>
    </div>
    <form asp-action="RemoveComment" method="post" asp-route-id="@c.Id" onsubmit="return jQueryAjaxDelete(this);">
                <input type="submit" value="Delete" class="btn btn--primary" />
    </form>
    }
}
</div>
