@model QA_Application.Models.Idea

@{
    ViewData["Title"] = "Create";
    var summernote = new QA_Application.Models.Summernote("#content_idea");
}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index">Idea</a></li>
    <li class="breadcrumb-item"><a asp-action="Index">Edit</a></li>
    <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
  </ol>
</nav>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Edit Idea</h1>
            </div>
            <form asp-action="Edit" method="post" enctype="multipart/form-data" class="user">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3 class="text-danger">@ViewBag.error</h3>
                <div class="form-group">
                    <label asp-for="DepartmentId"></label>
                    <select asp-for="DepartmentId" asp-items="@ViewBag.DepartmentId" class="form-control"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId"></label>
                    <select asp-for="CategoryId" asp-items="@ViewBag.CategoryId" class="form-control"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SpecialTagId"></label>
                    <select asp-for="SpecialTagId" asp-items="@ViewBag.SpecialTagId" class="form-control"></select>
                    <span asp-validation-for="SpecialTagId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input  asp-for="Title" readonly="readonly" type="text" class="form-control form-control-user"
                        id="title" placeholder="Enter Title...">
                     <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                     <label asp-for="Content"></label>
                    <textarea asp-for="Content" type="password" class="form-control form-control-user"
                        id="content_idea" placeholder="Content"></textarea>
                     <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FileSubmit"></label>
                    <input  asp-for="FileSubmit" type="file" class="form-control" id="title" accept="application/pdf">
                    <span asp-validation-for="FileSubmit" class="text-danger"></span>
                </div>

             <button type="submit" class="btn btn-success btn-icon-split btn-block">
                <span class="text">Submit</span>
             </button>
            </form>
            <hr>

             <a asp-action="GetPost" class="btn btn-secondary btn-icon-split btn-block">
                <span class="text">Back</span>
             </a>
        </div>
    </div>
</div>>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="~/Views/Shared/_SummernotePartial.cshtml" model="summernote" />
    <partial name="~/Views/Shared/_AlertifyPartial.cshtml"/>
}