@model IEnumerable<QA_Application.Models.Idea>

@{
    ViewData["Title"] = "GetPost";
}


<div class="cards-wrapper">
    @foreach (var item in Model)
    {
        @if (item.isApproved == true)
        {
        <div class="card" style="width: 320px;">
             <img class="card-img-top" 
                src="https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/frontpagerendererdefaultimage/1640228920/edu-survey-landing-image.jpg" alt="">

            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                @*<p class="card-text para-mini">@Html.Raw(item.Content)</p>*@
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">See Details</a>
            </div>
            <div class="card-footer text-muted">
                @if(item.Category.ParentCategory != null)
                    {
                         <a href="#" class="badge badge-primary">@Html.DisplayFor(modelItem => item.Category.ParentCategory.CategoryName)</a>
                    }
                <a asp-route-id="@item.CategoryId" asp-action="Details" asp-controller="Categories" asp-area="Dashboard" class="badge badge-secondary">@Html.DisplayFor(modelItem => item.Category.CategoryName)</a>   
                <a href="#" class="badge badge-success">@Html.DisplayFor(modelItem => item.SpecialTag.SpecialTagName)</a>
            </div>
        </div>
        }
    }

    <partial name="_Paging" model="@ViewBag.pagerModel"  />
</div>