@model IEnumerable<QA_Application.Models.Idea>

@inject IHttpContextAccessor HttpContextAccesser


@{
    ViewData["Title"] = "Index";
    var userRole = HttpContextAccesser.HttpContext.Session.GetString(key: "roleName");
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Ideas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>CreatedDate</th>
                    <th>isLocked</th>
                    <th>Category</th>
                    <th>Link</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>CreatedDate</th>
                    <th>isLocked</th>
                    <th>Category</th>
                    <th>Link</th>
                    <th>Status</th>

                </tr>
                </tfoot>
                <tbody>
@foreach (var item in Model)
{
        var predix = "idea";
        var deleteAction = "Delete";
        var approveAction = "Approve";
        var declineAction = "Decline";

        var decline = new ActionPopup {
        Id = @item.Id,
        Predix = predix,
        Title = @item.Title,
        Name = declineAction,
        Action = declineAction,
        Labell = "labelledbyDecline"
        };

        var approve = new ActionPopup {
        Id = @item.Id,
        Title = @item.Title,
        Predix = predix,
        Name = approveAction,
        Action = approveAction,
        Labell = "labelledbyApprove"
        };


        var delete = new ActionPopup {
        Id = @item.Id,
        Title = @item.Title,
        Predix = predix,
        Name = deleteAction,
        Action = deleteAction,
        Labell = "labelledbyDelete"
        };

        <partial name="_ActionPopup" model="approve"></partial>
        <partial name="_ActionPopup" model="decline"></partial>
        <partial name="_ActionPopup" model="delete"></partial>

        <tr>
                @if(item.isApproved == null && User.Identity!.Name == item.Author.UserName)
                {
                    <td data-title="No">@(++ViewBag.ideaIndex)</td>
                    <td data-title="ID">
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    </td>
                    <td data-title="ID">@item.CreatedDate</td>
                    <td data-title="ID">@item.isLocked</td>
                    <td data-title="ID">@item.Category.CategoryName</td>
                    @if(userRole == "Admin")
                    {
                                                        
                        <td data-title="Link">
                            <a href="#" data-toggle="modal" data-target="#@predix@item.Id@approveAction">Approve</a> |
                            <a href="#" data-toggle="modal" data-target="#@predix@item.Id@declineAction">Decline</a>
                        </td>
                        <td data-title="Status">Sending to approve...</td>
                    }
                    else
                    {

                        <td data-title="Link">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a href="#" data-toggle="modal" data-target="#@predix@item.Id@deleteAction">Delete</a>
                        </td>
                        if(item.Category.FinalDeadline > DateTime.Now)
                        {
                            <td data-title="Status">Wait to approve...</td>
                        }
                        else
                        {
                            <td data-title="Status">The ideas has been timeout to approve...</td>
                        }
                    }
                }
                @*Decline*@
                @if(item.isApproved == false && User.Identity!.Name == item.Author.UserName)
                {
                    <td data-title="No">@(++ViewBag.ideaIndex)</td>
                    <td data-title="ID">
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    </td>
                    <td data-title="ID">@item.CreatedDate</td>
                    <td data-title="ID">@item.isLocked</td>
                    <td data-title="ID">@item.Category.CategoryName</td>
                    @if(userRole == "Admin")
                    {
                        <td data-title="Link">
                            <a href="#" data-toggle="modal" data-target="#@predix@item.Id@approveAction">Approve</a> |
                            <a href="#" data-toggle="modal" data-target="#@predix@item.Id@declineAction">Decline</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a href="#" data-toggle="modal" data-target="#@predix@item.Id@deleteAction">Delete</a>
                        </td>
                        if(item.Category.FinalDeadline > DateTime.Now)
                        {
                            <td data-title="Status">The ideas has been declined</td>
                        }
                        else
                        {
                            <td data-title="Status">The ideas has been timeout to approve...</td>    
                        }
                    }
                    else
                    {

                        <td data-title="Link">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a href="#" data-toggle="modal" data-target="#@predix@item.Id@deleteAction">Delete</a>
                        </td>
                        if(item.Category.FinalDeadline > DateTime.Now)
                        {
                            <td data-title="Status">The ideas has been declined</td>
                        }
                        else
                        {
                            <td data-title="Status">The ideas has been timeout to approve...</td>    
                        }
                    }
                }
        </tr>      
}

                </tbody>
            </table>
        </div>
        <partial name="_Paging" model="@ViewBag.pagerModel"  />
    </div>
</div>


@section Scripts {
    <partial name="~/Views/Shared/_AlertifyPartial.cshtml"/>
}