@using System.Security.Claims
@model QA_Application.Models.Idea

@{
    ViewData["Title"] = "Details";
    var firstDeadline = Model.Category.FirstDeadline;
    var finalDeadline = Model.Category.FinalDeadline;
    var now = DateTime.Now;
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index">Idea</a></li>
    <li class="breadcrumb-item"><a asp-action="GetPost">Review</a></li>
    <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
  </ol>
</nav>

<div class="modal fade" id="deleteModelInPost" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Are you sure to delete this? <b>@Model.Title</b></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Delete" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form class="form-inline" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">User-@userId posted</h6>
                    <br />
                    <h6 class="m-0 font-weight-italic">asked @ViewBag.time</h6>
            
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Options:</div>
                        <a asp-action="Edit" asp-route-id=@Model?.Id class="dropdown-item">Edit post</a>
                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#deleteModelInPost">Delete</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="GetPost" class="dropdown-item">Back to Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(model => model.Title)</div>
                @Html.Raw(Model.Content)

                @if(Model.Category.ParentCategory != null)
                    {
                         <a href="#" class="badge badge-primary">@Html.DisplayFor(modelItem => modelItem.Category.ParentCategory.CategoryName)</a>
                    }
                <a href="#" 
                    class="badge badge-secondary">@Html.DisplayFor(modelItem => modelItem.Category.CategoryName)</a>
                    
                <a href="#" class="badge badge-success">@Html.DisplayFor(modelItem => modelItem.SpecialTag.SpecialTagName)</a>

            </div>
        </div>
    </div>

@foreach(var c in Model.Comments)
{
    if(c != null)
    {
        <div class="col-lg-6">

        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
                answer by @userId
            </div>
            <div class="card-body">
                Reply: @c.Message
            </div>
        </div>
    </div>
    <form asp-action="RemoveComment" method="post" asp-route-id="@c.Id" onsubmit="return jQueryAjaxDelete(this);">
                <input type="submit" value="Delete" class="btn btn--primary" />
    </form>
    }
}
</div>

