@model IEnumerable<QA_Application.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Account</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>UserName</th>
                    <th>Link</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
@foreach (var item in Model)
{
    var predix = "user";
    var deleteAction = "Delete";
    var lockoutAction = "Lockout";
    var activeAction = "Active";

;   var delete = new ActionPopupUR {
    Id = @item.Id,
    Title = @item.UserName,
    Predix = predix,
    Name = deleteAction,
    Action = deleteAction,
    Labell = "labelledbyDelete"
};
    var lockout = new ActionPopupUR {
    Id = @item.Id,
    Title = @item.UserName,
    Predix = predix,
    Name = lockoutAction,
    Action = lockoutAction,
    Labell = "labelledbyLockout"
};

    var active = new ActionPopupUR {
    Id = @item.Id,
    Title = @item.UserName,
    Predix = predix,
    Name = activeAction,
    Action = activeAction,
    Labell = "labelledbyActive"
};


    <partial name="_ActionPopupUR" model="delete"></partial>
    <partial name="_ActionPopupUR" model="lockout"></partial>
    <partial name="_ActionPopupUR" model="active"></partial>

    <tr>
        <td data-title="ID">@Html.DisplayFor(modelItem => item.Id)</td>
        <td data-title="FirstName">@Html.DisplayFor(modelItem => item.FirstName)</td>
        <td data-title="LastName">@Html.DisplayFor(modelItem => item.LastName)</td>
        <td data-title="UserName">@Html.DisplayFor(modelItem => item.UserName)</td>
        @if(item.LockoutEnd > DateTime.Now && item.LockoutEnd != null)
        {
            <td>Inactive</td>
            <td data-title="Link">
                <a href="#" data-toggle="modal" data-target="#@predix@item.Id@activeAction">Active</a> |
                <a href="#" data-toggle="modal" data-target="#@predix@item.Id@deleteAction">Delete</a>
            </td>
        }
        else
        {
            <td>Active</td>
            <td data-title="Link">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a href="#" data-toggle="modal" data-target="#@predix@item.Id@lockoutAction">Lockout</a> |
                <a href="#" data-toggle="modal" data-target="#@predix@item.Id@deleteAction">Delete</a>
            </td>
        }
    </tr>   
}
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
    $(function () {
    var created = '@TempData["Created"]'
        if (created != '') {
            alertify.success(created);
        }
    });

    $(function () {
    var edited = '@TempData["Edited"]'
        if (edited != '') {
            alertify.success(edited);
        }
    });

    $(function () {
    var deleted = '@TempData["Deleted"]'
        if (deleted != '') {
            alertify.success(deleted);
        }
    });

    </script>
}
